{% extends "base.html" %}

{% block navbar %}

<li class="list"><a href="/">Home</a></li>
<li class="list"><a href="/quem_somos/">Quem somos</a></li>
<li><a href="/contato/" class="mark">Contato</a></li>

{% endblock %}

{% block conteudo %}
  <main>
    <h1>Entre em contato</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
      repellendus unde. Illo dignissimos nisi labore nesciunt, excepturi
      voluptate esse iusto necessitatibus dicta ex sed iure magnam ea ad cum!
      Repudiandae?
    </p>
    <hr/>
    <label for="">Seu e-mail:</label>
    <input type="text" id="email" />
    <label for="">Assunto:</label>
    <input type="text" />
    <label for="">Descrição:</label>
    <textarea name="" id="descricao" cols="30" rows="10"></textarea>
    <button>Enviar</button>
  </main>
{% endblock %}
