{% extends "base.html" %}

{% block title %}
  <title>Home</title>
{% endblock %}

{% block navbar %}
  <li class="list"><a href="/" class="mark">Home</a></li>
  <li class="list"><a href="/quem_somos/">Quem somos</a></li>
  <li class="list"><a href="/contato/">Contato</a></li>
  <li><a href="/users">Usuários</a></li>
{% endblock %}

{% block conteudo %}
  <div class="imagem"><img src="../static/img/capa.png" alt=""/></div>
  <main>
    <h1>Sobre a universidade</h1>
    <p>
      Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing
      elit. Iure ipsam ducimus, magni dignissimos debitis ut dicta aspernatur
      suscipit tenetur, sit consequatur cumque tempore fugit pariatur! Aperiam
      dolores eum rem hic. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Sequi, inventore ullam illum, quia cum nesciunt iste quos maxime
      sit illo, culpa dignissimos corporis dolor obcaecati earum reiciendis
      eligendi ex itaque! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Tempore ab cum rerum, corrupti voluptatem eligendi neque nihil
      libero doloremque maiores maxime in fugiat esse, tenetur possimus, et
      voluptatibus eaque repudiandae.
    </p>
    <p>
      Lorem <strong>ipsum dolor</strong> sit amet consectetur, adipisicing
      elit. Inventore, molestias. Fugit iste laudantium ab accusamus corporis
      eos repellendus sed recusandae, ratione at distinctio. Commodi cumque at
      amet omnis inventore eveniet! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Provident ipsa nesciunt eum fugiat nostrum accusamus
      laborum qui nam nihil non praesentium mollitia, ad ducimus dolorum
      molestias sequi, sunt magni dicta! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Dicta perspiciatis, quod, adipisci
      corrupti quisquam magni dolores sapiente eligendi ipsum error vitae
      magnam temporibus libero minima, laudantium pariatur distinctio sit a!
    </p>
  </main>
{% endblock %}
